.app--container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register--container {
  padding: 10px 20px;
  border: 3px solid black;
  width: max-content;
  margin-top: 20px;
  border-radius: 5px;
}

.register--title {
  text-align: center;
  margin-bottom: 10px;
  font-family: Roboto;
}

.register--button {
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.register--input {
  display: block;
  margin-bottom: 15px;
}